.content-holder
  = react_component("GenrePage", props: { userDetails: current_user.to_json(only: ["quizzes"], include: ["quizzes" => { only: ["id", "hasFinished", "subgenre"], include: ["subgenre" => {only: ["id"]}]}]), Genre: @genre.to_json(only: ["name", "subgenres"], include: ["subgenres" => {only: ["name", "description", "id"]}])}, prerender: true)